@font-face {
  font-family: "Helvetica Now Display";
  src: url("fonts/HelveticaNowDisplay-Regular.woff2") format("woff2"), url("fonts/HelveticaNowDisplay-Regular.woff") format("woff"), url("fonts/HelveticaNowDisplay-Regular.ttf") format("truetype");
}
.font-helvetica {
  font-family: "Helvetica Now Display", sans-serif;
}

* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.transparent-bg {
  background-color: transparent !important;
  transition: background-color 0.3s ease;
}

#mobile-menu {
  gap: 0.5rem;
  transition: all 0.3s ease-in-out;
  z-index: 50;
  padding: 0.8rem 1rem;
  border-radius: 2rem;
}
#mobile-menu a {
  transition: opacity 0.3s ease, color 0.3s ease, background-color 0.3s ease;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  padding: 0.2rem 1rem;
  border-radius: 30px;
  opacity: 0.6;
  cursor: pointer;
}
#mobile-menu a:hover {
  opacity: 1;
  color: rgb(255, 255, 255);
  background-color: rgb(59, 59, 59);
  box-shadow: 7px 7px 7px rgb(0, 0, 0);
}
#mobile-menu:hover a {
  opacity: 0.3;
}
#mobile-menu:hover a:hover {
  opacity: 1;
  color: rgb(0, 0, 0);
  font-weight: 600;
}
@media (min-width: 768px) {
  #mobile-menu {
    display: inline;
    flex-direction: row;
    align-items: center;
    position: static;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    gap: 1.5rem;
  }
  #mobile-menu a {
    width: auto;
    text-align: left;
    background-color: transparent;
  }
  #mobile-menu a:hover {
    color: white;
    box-shadow: none;
    background-color: transparent;
  }
}

#menu-toggle.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(5.7px, 6px);
}
#menu-toggle.open .bar:nth-child(2) {
  opacity: 0;
}
#menu-toggle.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(5.7px, -6px);
}

.rightHeddings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
}
.rightHeddings .quot {
  font-weight: 600;
  font-size: 0.875rem;
  word-spacing: -1px;
  color: black;
}
.rightHeddings .line {
  width: 90px;
  height: 1px;
  background-color: black;
}
.rightHeddings .time {
  opacity: 0.6;
  font-size: 0.75rem;
  color: black;
}
@media (min-width: 768px) {
  .rightHeddings {
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
    justify-content: flex-end;
  }
  .rightHeddings .quot {
    font-size: 1rem;
  }
  .rightHeddings .time {
    font-size: 0.875rem;
  }
}

.imageContainer {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
@media (min-width: 768px) {
  .imageContainer {
    flex-direction: row;
    width: 33.333333%;
  }
}
.imageContainer > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media (min-width: 768px) {
  #theBeginning #title {
    align-items: center;
    padding: 1.5rem 10rem 1.5rem 10rem;
  }
  #theBeginning #title h1 {
    font-size: 3.6rem;
  }
  #theBeginning #innerStory {
    padding: 0 10rem;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }
  #theBeginning #innerStory div:nth-child(1) div:nth-child(1) {
    padding: 0%;
    margin-top: 0;
    height: 50rem;
  }
  #theBeginning #innerStory div:nth-child(1) div:nth-child(2) {
    height: 25rem;
  }
  #theBeginning #innerStory div:nth-child(2) div:nth-child(1) {
    height: 25rem;
  }
  #theBeginning #innerStory div:nth-child(2) div:nth-child(2) {
    height: 30rem;
  }
  #theBeginning #innerStory div:nth-child(3) div:nth-child(1) {
    height: 50rem;
  }
  #theBeginning #innerStory div:nth-child(3) div:nth-child(2) {
    height: 25rem;
  }
}

@media (min-width: 768px) {
  #GoodAt #ForegroundContent {
    padding: 1.5rem 10rem 1.5rem 10rem;
  }
  #GoodAt #ForegroundContent h3 {
    font-size: 5rem;
  }
  #GoodAt #ForegroundContent .TechImg {
    justify-content: center;
    display: flex;
    gap: 10;
  }
}

@media (min-width: 768px) {
  #Testimonials h1 span {
    justify-content: center;
    gap: 3.5rem;
  }
  #Testimonials h1 span img {
    width: 20%;
    display: inline;
  }
}/*# sourceMappingURL=style.css.map */